
@{
    ViewBag.Title = "Blogs";
}

<h2>My Blogs Page</h2>

<table>
    <tr>
        <td>Name</td>
        <td>Address</td>
        </tr>
    <tr>
        <td>Coder Foundry</td>
        <td>Kernersville</td>
    </tr>

</table>


</div>

